*{
  font-family: "Open sans";
}
.backgroundvideo {
  width: 100%;
  top: 0;
  z-index: -1;
  height: 100%;
  background-color: #00b894;
}
.background_nav {
  position: relative;
  min-height: 700px;
  height: 800px;
}
.home_top_innertext {
  position: absolute;
  top : 40%;
  /* bottom: 8rem; */
  left: 30%;
  /* left: 4rem; */
  /* width: auto;
  width: 70%; */
  text-align: left;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 5px 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
  color: #ffffff;
}
.solutions_home {
  background-image: url(../../assets/background.png);
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
}
.solutions_home h2 {
  font-size: 45px;
  font-weight: 700;
}

.solutions_home ul li {
  font-size: 16px;
  font-weight: 700;
  color: #1f242c;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

/* .home_top_innertext {
  text-shadow: 0 4px 5px #000;
}
.home_top_innertext h1 {
  font-style: italic;
} */
.service_content {
  position: relative;
  float: left;
  box-shadow: 5px 5px 0px #00b894;
  border: 1px solid #00b894;
  padding: 25px 25px;
  transition: all ease-in-out 0.5s;
  background: rgba(255, 255, 255, 0.5);
  max-width: 100%;
  animation-name: fadeInLeft;
  min-width: 350px;
}
.service_content img {
  width: 50px;
  height: 50px;
}

.service_content h5 {
  font-weight: 700;
  font-size: 20px;
}

.service_content:hover {
  background-color: #153d6c;
  color: white;
  transition: 0.5s ease all;
}

.service_content:hover img {
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  transition: 0.5s ease all;
}

.service_container .service_content:first-child,
.service_container .service_content:last-child {
  margin-left: 4rem;
  width: 320px;
}

.service_container1 .service_content:first-child,
.service_container1 .service_content:last-child {
  margin-left: -4rem;
  width: 320px;
}
.robusthardware_bgd {
  background-image: url(../../assets/robust_hardware.png);
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
  height: 850px;
  padding: 50px;
}
.robusthardware_bgd h2 {
  padding: 20px;
  margin: auto;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
.integrationbrowncontainer {
  background-color: #01152b;
  color: white;
  padding: 50px 0;
}
.integrationbrowncontainer h2 {
  text-align: center;
}
.integrationbrowncontainer h4 {
  font-size: 30px;
  text-align: center;
}
.integrationbrowncontainer h4::before {
  content: "";
  position: relative;
  background: #00b894;
  width: 70px;
  height: 4px;
  top: -10px;
  border-right: 15px solid #153d6c;
  margin-right: 15px;
  display: inline-block;
}
.integrationbrowncontainer h4::after {
  content: "";
  position: relative;
  background: #00b894;
  width: 70px;
  height: 4px;
  top: -10px;
  border-left: 15px solid #153d6c;
  margin-left: 15px;
  display: inline-block;
}
.integration_content {
  font-size: 23px;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.05);
  margin: 0;
  margin-bottom: 10px;
  padding: 17px 0;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  font-weight: 400 !important;
  opacity: 0;
}

.sun_rotate {
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .fade-in {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-in-out, transform 5s ease-in-out;
} */

.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
  animation: fadein;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.fade-in.visible_margin {
  opacity: 1;
  transform: translateX(0);
  animation: fadeinmargin;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-left: -40px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadeinmargin {
  from {
    opacity: 0;
    margin-left: -20px;
  }
  to {
    opacity: 1;
    margin-left: 4rem;
  }
}

.fade-in.visible_right {
  opacity: 1;
  transform: translateX(0);
  animation: fadeinright;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes fadeinright {
  from {
    opacity: 0;
    margin-left: 100px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.fade-in.visible_right_margin {
  opacity: 1;
  transform: translateX(0);
  animation: fadeinrightmargin;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes fadeinrightmargin {
  from {
    opacity: 0;
    margin-left: 80px;
  }
  to {
    opacity: 1;
    margin-left: -4rem;
  }
}

.sun h5 {
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-size: 700;
  color: #0b315d;
}
.link_footer,
.footer_address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.footer_container {
  margin: 0 30px 20px 30px;
  width: 90% !important;
  position: relative;
}
.footer_icon_social {
  display: flex;
  color: black;
  background-color: antiquewhite;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
}
.footer_icon_social:hover {
  background-color: #00b894;
}
.footer_icon_social:hover svg {
  color: white;
}
.footer_icons {
  display: flex;
  color: #6c757d;
  justify-content: center;
  margin-top: 10px;
}
.footer_icon_nav_link {
  color: white;
  display: flex;
}
.footer_icon_nav_link:hover{
  color: #00b894;
}
.footer_icon_address {
  display: flex;
}
.connect_page {
  background-image: url(../../assets/connect_bg.jpg);
  width: 100%;
  background-size: cover;
  padding: 30px 0;
}
.connect_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect_right.animation img {
  animation: fadeinleftimage;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
@keyframes fadeinleftimage {
  from {
    opacity: 0;
    margin-left: -200px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.connect_head {
  font-size: 45px;
  font-weight: 600 !important;
  color: #153d6c;
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
}
.connect_head::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-bottom: 3px solid #c4cdda;
  width: 40px;
}

.connect_head.visible {
  opacity: 1;
  animation: fadedown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.connect_details {
  display: flex;
  align-items: center;
  line-height: 3;
  flex-direction: row;
  align-content: stretch;
  text-transform: uppercase;
  opacity: 0;
}
.connect_details.visible {
  opacity: 1;
  animation: fadeinright;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.footer {
  background-image: url(../../assets/footer_bg.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open sans";
  color: white;
  position: relative;
  background-position: center;
}

.footer::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
}

.integration_content.visible {
  opacity: 1;
  transform: translateX(0);
  animation: fadeinleft;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes fadeinleft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.flip_card{
  position: relative;
  width: 300px;
  height: 250px;
  margin-bottom: 10%;
}
.card{
  position: absolute;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border: 1px solid #e5e5e5;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 229, 229);
    border-right-color: rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);
    border-left-color: rgb(229, 229, 229);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  box-shadow: 0px 15px 10px -15px #111;
}
.card:hover{
  transform: rotateY(180deg);
}
.front{
  position: absolute;
  width: 300px;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.back{
  position: absolute;
  color: aliceblue;
  width: 300px;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  background: linear-gradient(to bottom, #153d6c, #8cc63f);;
}
.flip_card_container{
  width: 70%;
  margin-left: 20%;
}
.flip_card_bottom{
  margin-top: 10px;
}
.flip_card_container_bottom{
  height: fit-content;
  width: 65%;
  margin-left: 10%;
  margin-top: 10%;
}
.flipCard_subhead{
  color: #153d6c;
  text-transform: uppercase;
  text-align: center;
}
.img_flipCard{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutUsHead{
  background: url(../../assets/footer_bg.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.aboutUsHead::before {
  content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.aboutUsSubhead{
  position: relative;
    text-align: center;
    padding: 65px 0;
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 3px 3px #000;
}
.aboutUsSubhead::after{
  content: "";
    background: #8cc63f;
    width: 35px;
    height: 3px;
    margin: 0 auto;
    display: block;
}
.HomeAbout{
  background-image: url(../../assets/background.png);
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  padding:0 100px;
  position: relative;
}
.testt{
  position: absolute;
  top:10%;
  left : 60%
}
.gfh{
  font-family: "Open sans";
  line-height: 1.8;
}
.servicehome{
  background-image: url(../../assets/robust_hardware.png);
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  width: 100%;
  height: 450px;
  padding: 50px;
}
.jf{
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  padding:50px;
}
.testimonialsContainer{
  width: 60%;
  height: 100px;
  border: 2px solid #7384ed;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin:10px;
  background-color: rgb(223, 226, 241);
  border-radius: 30px;
}
.testimonialsName{
  color: #0927ec;
  padding: 10px;
  width: 30%;
}
.testimonialsInfo{
  width: 70%;
}
.test{
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
.projects_data{
  display: flex;
  flex-wrap: wrap;
}
.projectcard{
  width: 33%;
  text-align: center;
  padding: 15px;
}
.homeHead{
  /* height: 30%; */
  padding: 50px;
  color: #00b894;
  font-family: sans-serif;
}
.customers{
  height: 400px;
  width: 100%;
}
.image_wrapper{
  margin: 0 10px;
}
.Dashboadrhomepage{
  height: 650px;
  width: 80%;
  display: flex;
}
.Dashboadrhomepagediv , .Dashboadrhomepagediv1{
  width: 80%;
  height: 100%;
  position: relative;
  left:10%;
  /* display: flex; */
}
.Dashboadrhomepagehead{
  color: #00b894;
  padding: 50px;
  font-family: sans-serif;
}
.Dashboadrhomepagecontent{
  padding: 50px;
}
.dashboard_paragraph{
  line-height: 1.8;
}
.Dashboadrhomepagediv1{
  display: flex;
}
.Dashboadrhomecard{
  height: 200px;
  width: 300px;
  margin: 5px 0;
  box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
  padding: 25px;
}
.analyzehome{
  height: 500px;
  width: 100%;
  padding: 50px;
}
.analyzehomehead{
  padding: 40px;
}
.w{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.costSaving{
  height: 500px;
  width:100%
}
