.heading,.solar_info {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #f4f7f9;
}
.heading > h1 {
    font-size: 3rem;
}
.heading > h2 , .solar_features > h3 {
    text-align: center;
    line-height: 1.5;
    color: #757e8c;
}
.iotdashboard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f7f9;
}

.iotdashboard_image_container {
    height: 700px;
    width: 80%;
    padding: 0 10px;
}

.img-iotDashboard {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.solar_info{
    width: 80%;
    padding: 10px 10px;
}
.white_bg_container{
    /* background: linear-gradient(125deg, #00b894 , #004aad); */
    background: white;
}
.key_elements_solar{
    width: 80%;
    padding: 50px;
    background: white;
    border:1px solid #c8e3f2;
    border-radius: 10px;
    margin-bottom: 10px;
}
.key_elements_solar > h2 {
    padding: 2rem 1rem;
    background: #a9eedf;
    border-radius: 5px;
}
.solar_layer_technology > h2{
    padding: 3rem 7rem;
    text-align: center;
}
.key_element_card{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 1rem;
    border-radius: 10px;
}
.key_element_card > h6{
    padding: 0 2rem;
}
.key_element_card > img{
    padding-right: 20px;
}
.solar_features,.iotdashboardContainer{
    width: 80%;
    padding: 50px;
}
.solar_features > h3 , h4 {
    text-align: center;
    padding-top: 1rem;
}